*{
    font-family: "Tillana", system-ui;
    font-weight: 700;
    font-style: normal;
}

.navbar{
    min-height: 31.2px;
    max-height: 78px;
}
.logo{
    min-width: 60px;
    max-width: 150px;
}
header{
    background: url(../Image/bg/Konoha.jpg);
    height: 60vh;
    width: 100%;
}
header div{
    position: absolute;
    top: 32%;
    left: 35%; 
}
#char{
    color: #55D93F;
    font-weight: 800;
    font-size: 20px;
    font-style:normal;
}
footer{
    font-size: 32px;
}
@media(max-width:760px){
    header{
        background: url(../Image/bg/Konoha1.jpg);
        height: 30vh;
        width: 100%;
    }
    header div{
        position: absolute;
        top: 16%;
        left: 35%; 
        
    }
    header h1{
        font-size: 30px;
    }
}
@media(max-width:690px){
    header h1{
        font-size: 25px;
    }
}
@media(max-width:450px){
    header div{
        position: absolute;
        top: 10%;
        left: 35%;
    }
}
@media(max-width:290px){
    header h1{
        font-size: 20px;
    }
}